<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>MONITORING KAPAL</title>
  </head>

  <body style='background-image:url(/Kaval/BGcombine.png);background-size:cover'>

    <div id="boxes">

      <div id="boxroot">
        <div class="belakang"> 
          <img src="Kaval/belakang.png" style="width:100px;height:110px;" /></div>
        <div class="alrt_belakang"> 
        <img src="Kaval/alert_imu.png" style="width:100px;height:110px;" /></div>    
        <div class="samping">
          <img src="Kaval/samping.png" style="width:350px;height:110px;" /></div>
        <div class="alrt_samping">
          <img src="Kaval/alert_samping.png" style="width:350px;height:110px;" /></div>
        <div class="denah">
          <img src="Kaval/denah.png" style="width:400px;height:100px;" /></div>  
        <div class="pintu_denah">
          <img src="Kaval/pintu_denah.png" style="width:30px;height:6px;" /></div>  
        <div class="pintu_denah1">
          <img src="Kaval/pintu_denah.png" style="width:30px;height:6px;" /></div>
        <div class="over">
          <img src="Kaval/Over_weyht.png" style="width:100px;height:110px;" /></div>  
        <div class="garis_IMU">
          <img src="Kaval/permukaan_air.png" style="width:575px;height:2px;" /></div>
        <div class="garis_over">
          <img src="Kaval/air_over.png" style="width:120px;height:2px;" /></div>
        <div class="door">
          <img src="Kaval/pintu_putih.png" style="width:69px;height:89px;" /></div>
        <div class="door_alrt">
          <img src="Kaval/pintu_merah.png" style="width:69px;height:89px;" /></div>
        <div class="bensin">
          <img src="Kaval/bbm_putih.png" style="width:80px;height:96px;" /></div>
        <div class="bensin_alrt">
          <img src="Kaval/bbm_merah.png" style="width:80px;height:96px;" /></div>
        <div class="bbm_kiri">
          <img src="Kaval/alert_bbm.png" style="width:14px;height:14px;" /></div>
        <div class="bbm_kanan">
          <img src="Kaval/alert_bbm.png" style="width:14px;height:14px;" /></div>
        <div class="aki">
          <img src="Kaval/aki_putih.png" style="width:66px;height:77px;" /></div>
        <div class="aki_alrt">
          <img src="Kaval/batre.png" style="width:66px;height:77px;" /></div>
        <div class="pln">
          <img src="Kaval/pln_putih.png" style="width:67px;height:72px;" /></div>
        <div class="pln_alrt">
          <img src="Kaval/pln.png" style="width:67px;height:72px;" /></div>
        <div class="genset">
          <img src="Kaval/jenset_putih.png" style="width:65px;height:73px;" /></div>
        <div class="genset_alrt">
          <img src="Kaval/jenset.png" style="width:65px;height:73px;" /></div>
        <div class="alrt">
          <img src="Kaval/system_alert.png" style="width:246px;height:112px;" /></div>
        <div class="stts"><h2>Status :</div>
        <div class="st_pintu"><h4> Ada pintu yang tertutup!! </div>
        <div class="st_bbm"><h4> Uap BBM terdeteksi!! </div>
        <div class="st_gxkn"><h4> Kapal terlalu miring kanan!! </div>
        <div class="st_gxkr"><h4> Kapal terlalu miring kiri !! </div>
        <div class="st_gyd"><h4> Kapal terlalu miring kedepan !! </div>
        <div class="st_gyb"><h4> Kapal terlalu miring kebelakang !! </div>
        <div class="rk"><h4> Rekomendasi : </div>
        <div class="rk_kr"><h4> Geser beban ke kiri </div>
        <div class="rk_kn"><h4> Geser beban ke kanan </div>
        <div class="rk_d"><h4> Geser beban ke depan </div>
        <div class="rk_b"><h4> Geser beban ke belakang </div>
        <div class="rk_p"><h4> Buka pintu yang tertutup </div>
        <div class="rk_bbm"><h4> Nyalakan Exhaust </div>

        <button id="myButton">Setting Offset</button>
        

        <div class="overweight_text">OVERWEIGHT</div>
        
        div#ultra2-inf(class="over_dt") #{ultra2}
        <div class="roll">ROLL :</div>
        div#gyxx-inf(class="roll_dt") #{Gyxx}
        <div class="pitch">PITCH :</div>
        div#gyyy-inf(class="pitch_dt") #{Gyyy}
      </div>
    </div>


     

  </body>
</html>
script(src="anime.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js")
script(src="/md/jquery/dist/jquery.min.js")
script(src="main.js")
//script(src="on.js") 


 
