<!DOCTYPE html>
<html lang="en">
  
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="style1.css">
  <title>AnimeApp</title>
</head>

<body style='background-image:url(/Kaval/BGcombine.png);background-size:cover'>

  <div id="boxes">
    <div class="denah_kaval"> 
      <img src="Kaval/denah.png" style="width:400px;height:100px;" /></div>
    <div class="boxong_kapal">
      <img src="Kaval/belakang.png" style="width:100px;height:110px;" /></div>
    <div class="samping_kapal">
      <img src="Kaval/samping.png" style="width:350px;height:110px;" /></div>  
    <div class="bensin">
      <img src="Kaval/bensin bocor.png" style="width:60px;height:60px;" /></div>
    <div class="genset">
      <img src="Kaval/genset.png" style="width:75px;height:60px;" /></div>
    <div class="battery">
      <img src="Kaval/battery.png" style="width:60px;height:60px;" /></div>
    <div class="door">
      <img src="Kaval/pintu.png" style="width:50px;height:60px;" /></div>
    <div class="pln">
      <img src="Kaval/pln.png" style="width:60px;height:60px;" /></div>
    <div class="garis_IMU">
      <img src="Kaval/permukaan air.png" style="width:575px;height:2px;" /></div>  
    <div class="depan_kapal">
      <img src="Kaval/Over weyht.png" style="width:100px;height:110px;" /></div>
    <div class="garis_overweight">
      <img src="Kaval/permukaan air over weyght.png" style="width:120px;height:2px" /></div>  
  </div>

  <div class="overweight_text">OVERWEIGHT</div>
  <div class="roll">ROLL :</div>
  div#gyx-inf(class="roll_dt") #{Gyx}
  <div class="pitch">PITCH :</div>


</body>
</html>
script(src="anime.min.js")
script(src="main2.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js")
script(src="/md/jquery/dist/jquery.min.js")

